
  #btnLeft
  {
    position: absolute;
    top:0px;
    left: -60px;
  }

  #btnRight
  {
    position: absolute;
    top:10px;
    float: right;
    right: -80px;
  }

  #btnBtmR
  {
    position: absolute;
    right: 70px;
  }

  #btnCenter
  {
    position: absolute;
    left: 150px;
    top: 300px;
  }
