@font-face {
  font-family: 'SL-Small-Icons';
  src:  url('~fonts/iconfont/SL-Small-Icons.eot?yp4eqc');
  src:  url('~fonts/iconfont/SL-Small-Icons.eot?yp4eqc#iefix') format('embedded-opentype'),
    url('~fonts/iconfont/SL-Small-Icons.ttf?yp4eqc') format('truetype'),
    url('~fonts/iconfont/SL-Small-Icons.woff?yp4eqc') format('woff'),
    url('~fonts/iconfont/SL-Small-Icons.svg?yp4eqc#SL-Small-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'SL-Small-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-NEWS:before {
  content: "\e964";
}
.icon-TWITTER:before {
  content: "\e965";
}
.icon-TUTORIAL:before {
  content: "\e966";
}
.icon-STAR:before {
  content: "\e967";
}
.icon-CALENDARACCEPT:before {
  content: "\e909";
}
.icon-CALENDARDECLINE:before {
  content: "\e962";
}
.icon-MATCHRESUME:before {
  content: "\e963";
}
.icon-CABLE:before {
  content: "\e94f";
}
.icon-COMMUNICATIONPHONE:before {
  content: "\e950";
}
.icon-PRODUCTADS:before {
  content: "\e951";
}
.icon-PRODUCTAVG:before {
  content: "\e952";
}
.icon-PRODUCTBOEKHOUDING:before {
  content: "\e953";
}
.icon-PRODUCTCONTRIBUTIE:before {
  content: "\e954";
}
.icon-PRODUCTDATASERVICE:before {
  content: "\e955";
}
.icon-PRODUCTDWF:before {
  content: "\e956";
}
.icon-PRODUCTMOBIEL:before {
  content: "\e957";
}
.icon-PRODUCTOPLEIDINGEN:before {
  content: "\e958";
}
.icon-PRODUCTTOERNOOIEN:before {
  content: "\e959";
}
.icon-PRODUCTTRAININGEN:before {
  content: "\e95a";
}
.icon-PRODUCTTV:before {
  content: "\e95b";
}
.icon-PRODUCTVRIJWILLIGERS:before {
  content: "\e95c";
}
.icon-PRODUCTWEBSITE:before {
  content: "\e95d";
}
.icon-ROUNDCHECK:before {
  content: "\e95e";
}
.icon-ROUNDCROSS:before {
  content: "\e95f";
}
.icon-USERDOUBLE:before {
  content: "\e960";
}
.icon-CHEVRONFIRST:before {
  content: "\e941";
}
.icon-CHEVRONLAST:before {
  content: "\e942";
}
.icon-COMMUNICATIONMAIL:before {
  content: "\e961";
}
.icon-SPORTATLETIEK:before {
  content: "\e943";
}
.icon-SPORTBASKETBAL:before {
  content: "\e944";
}
.icon-SPORTHANDBAL:before {
  content: "\e945";
}
.icon-SPORTHOCKEY:before {
  content: "\e946";
}
.icon-SPORTHONKBAL:before {
  content: "\e947";
}
.icon-SPORTJUDO:before {
  content: "\e948";
}
.icon-SPORTKORFBAL:before {
  content: "\e949";
}
.icon-SPORTKRACHT:before {
  content: "\e94a";
}
.icon-SPORTREDDINGSBRIGADE:before {
  content: "\e94b";
}
.icon-SPORTVOETBAL:before {
  content: "\e94c";
}
.icon-SPORTVOLLEYBAL:before {
  content: "\e94d";
}
.icon-SPORTZWEMMEN:before {
  content: "\e94e";
}
.icon-CALENDAR:before {
  content: "\e900";
}
.icon-CARDS:before {
  content: "\e901";
}
.icon-CHANGE:before {
  content: "\e902";
}
.icon-CHECK:before {
  content: "\e903";
}
.icon-CHEVRONDOWN:before {
  content: "\e904";
}
.icon-CHEVRONLEFT:before {
  content: "\e905";
}
.icon-CHEVRONRIGHT:before {
  content: "\e906";
}
.icon-CHEVRONUP:before {
  content: "\e907";
}
.icon-CLOCK:before {
  content: "\e908";
}
.icon-QUESTION:before {
  content: "\e90a";
}
.icon-SHARE:before {
  content: "\e90b";
}
.icon-USER:before {
  content: "\e90c";
}
.icon-CROSS:before {
  content: "\e90d";
}
.icon-DROPDOWN:before {
  content: "\e90e";
}
.icon-DROPLEFT:before {
  content: "\e90f";
}
.icon-DROPRIGHT:before {
  content: "\e910";
}
.icon-DROPUP:before {
  content: "\e911";
}
.icon-EVENTGENERIC:before {
  content: "\e912";
}
.icon-EVENTREDCARD:before {
  content: "\e913";
}
.icon-EVENTYELLOWCARD:before {
  content: "\e914";
}
.icon-FLAG:before {
  content: "\e915";
}
.icon-GEAR:before {
  content: "\e916";
}
.icon-INDICATOR:before {
  content: "\e917";
}
.icon-LIGHTBULB:before {
  content: "\e918";
}
.icon-LOCKOFF:before {
  content: "\e919";
}
.icon-LOCKON:before {
  content: "\e91a";
}
.icon-LOGOUT:before {
  content: "\e91b";
}
.icon-MATCHCANCEL:before {
  content: "\e91c";
}
.icon-MATCHCOMPA:before {
  content: "\e91d";
}
.icon-MATCHCOMPB:before {
  content: "\e91e";
}
.icon-MATCHCUP:before {
  content: "\e91f";
}
.icon-MATCHDELETE:before {
  content: "\e920";
}
.icon-MATCHOWN:before {
  content: "\e921";
}
.icon-MENU:before {
  content: "\e922";
}
.icon-MINUS:before {
  content: "\e923";
}
.icon-MOVEALL:before {
  content: "\e924";
}
.icon-MOVELEFTRIGHT:before {
  content: "\e925";
}
.icon-MOVEUPDOWN:before {
  content: "\e926";
}
.icon-OPTIONS:before {
  content: "\e927";
}
.icon-PENCIL:before {
  content: "\e928";
}
.icon-PLACEHOLDER:before {
  content: "\e929";
}
.icon-PLANE:before {
  content: "\e92a";
}
.icon-PLUS:before {
  content: "\e92b";
}
.icon-POSTBOXIN:before {
  content: "\e92c";
}
.icon-POSTBOXOUT:before {
  content: "\e92d";
}
.icon-ROUNDHELP:before {
  content: "\e92e";
}
.icon-ROUNDINFO:before {
  content: "\e92f";
}
.icon-ROUNDMINUS:before {
  content: "\e930";
}
.icon-ROUNDPLUS:before {
  content: "\e931";
}
.icon-SEARCH:before {
  content: "\e932";
}
.icon-SELECT:before {
  content: "\e933";
}
.icon-SHIELD:before {
  content: "\e934";
}
.icon-SHIRT:before {
  content: "\e935";
}
.icon-STATUSALERT:before {
  content: "\e936";
}
.icon-STATUSCANCELED:before {
  content: "\e937";
}
.icon-STATUSCONCEPT:before {
  content: "\e938";
}
.icon-STATUSCONCEPTALERT:before {
  content: "\e939";
}
.icon-STATUSDONE:before {
  content: "\e93a";
}
.icon-STATUSERROR:before {
  content: "\e93b";
}
.icon-STATUSSUSPENDED:before {
  content: "\e93c";
}
.icon-TRASHCAN:before {
  content: "\e93d";
}
.icon-VISIBILITYOFF:before {
  content: "\e93e";
}
.icon-VISIBILITYON:before {
  content: "\e93f";
}
.icon-WORLD:before {
  content: "\e940";
}
