@font-face {
    font-family: 'SL-Small-Icons';
    src: url('~fonts/iconfont/SL-Small-Icons.eot?4qp4bi');
    src: url('~fonts/iconfont/SL-Small-Icons.eot?4qp4bi#iefix') format('embedded-opentype'),
        url('~fonts/iconfont/SL-Small-Icons.ttf?4qp4bi') format('truetype'),
        url('~fonts/iconfont/SL-Small-Icons.woff?4qp4bi') format('woff'),
        url('~fonts/iconfont/SL-Small-Icons.svg?4qp4bi#SL-Small-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='ICON-'],
[class*=' ICON-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'SL-Small-Icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ICON-PASSADD:before {
    content: '\e9f0';
}
.ICON-HOME:before {
    content: '\e9ef';
}
.ICON-PASSES:before {
    content: '\e9ea';
}
.ICON-CAMERA:before {
    content: '\e9eb';
}
.ICON-HASH:before {
    content: '\e9ec';
}
.ICON-NOTEBOOK:before {
    content: '\e9ed';
}
.ICON-USERCROSS:before {
    content: '\e9ee';
}
.ICON-ROUNDEURO_DASHED:before {
    content: '\e97c';
}
.ICON-ROUND_PERSON:before {
    content: '\e9e9';
}
.ICON-ROUND_ARROWDOWN_DASHED:before {
    content: '\e9e5';
}
.ICON-ROUND_ARROWLEFT_DASHED:before {
    content: '\e9e6';
}
.ICON-ROUND_ARROWRIGHT_DASHED:before {
    content: '\e9e7';
}
.ICON-ROUND_ARROWUP_DASHED:before {
    content: '\e9e8';
}
.ICON-ROUND_MINUS_DASHED:before {
    content: '\e9e2';
}
.ICON-ROUND_EURO:before {
    content: '\e9e3';
}
.ICON-ROUND_EURODISABLED:before {
    content: '\e9e4';
}
.ICON-ROUND_ALERT:before {
    content: '\e91d';
}
.ICON-ROUND_ARROWLEFT:before {
    content: '\e91e';
}
.ICON-ROUND_ARROWDOWN:before {
    content: '\e92e';
}
.ICON-ROUND_ARROWUP:before {
    content: '\e92f';
}
.ICON-ROUND_CHECK_DASHED:before {
    content: '\e930';
}
.ICON-ROUND_CHECK:before {
    content: '\e931';
}
.ICON-ROUND_CROSS_DASHED:before {
    content: '\e936';
}
.ICON-ROUND_CROSS:before {
    content: '\e937';
}
.ICON-ROUND_HELP:before {
    content: '\e938';
}
.ICON-ROUND_INFO:before {
    content: '\e939';
}
.ICON-ROUND_MINUS:before {
    content: '\e93a';
}
.ICON-ROUND_PAUSE_DASHED:before {
    content: '\e93b';
}
.ICON-ROUND_PAUSE:before {
    content: '\e93c';
}
.ICON-ROUND_PLUS_DASHED:before {
    content: '\e95e';
}
.ICON-ROUND_PLUS:before {
    content: '\e95f';
}
.ICON-DANGER:before {
    content: '\e9e0';
}
.ICON-ROUND_NONE:before {
    content: '\e9de';
}
.ICON-ROUND_STAR:before {
    content: '\e9df';
}
.ICON-ROUND_ARROWRIGHT:before {
    content: '\e9e1';
}
.ICON-LETTERICON_A:before {
    content: '\e9b8';
}
.ICON-LETTERICON_B:before {
    content: '\e9bb';
}
.ICON-LETTERICON_C:before {
    content: '\e9bc';
}
.ICON-LETTERICON_D:before {
    content: '\e9bd';
}
.ICON-LETTERICON_E:before {
    content: '\e9be';
}
.ICON-LETTERICON_F:before {
    content: '\e9bf';
}
.ICON-LETTERICON_G:before {
    content: '\e9c0';
}
.ICON-LETTERICON_H:before {
    content: '\e9c1';
}
.ICON-LETTERICON_I:before {
    content: '\e9c2';
}
.ICON-LETTERICON_J:before {
    content: '\e9c3';
}
.ICON-LETTERICON_K:before {
    content: '\e9c4';
}
.ICON-LETTERICON_L:before {
    content: '\e9c5';
}
.ICON-LETTERICON_M:before {
    content: '\e9c6';
}
.ICON-LETTERICON_N:before {
    content: '\e9c7';
}
.ICON-LETTERICON_O:before {
    content: '\e9c8';
}
.ICON-LETTERICON_P:before {
    content: '\e9c9';
}
.ICON-LETTERICON_Q:before {
    content: '\e9ca';
}
.ICON-LETTERICON_R:before {
    content: '\e9cb';
}
.ICON-LETTERICON_S:before {
    content: '\e9cc';
}
.ICON-LETTERICON_T:before {
    content: '\e9cd';
}
.ICON-LETTERICON_U:before {
    content: '\e9ce';
}
.ICON-LETTERICON_V:before {
    content: '\e9cf';
}
.ICON-LETTERICON_W:before {
    content: '\e9d0';
}
.ICON-LETTERICON_X:before {
    content: '\e9d1';
}
.ICON-LETTERICON_Y:before {
    content: '\e9d2';
}
.ICON-LETTERICON_Z:before {
    content: '\e9d3';
}
.ICON-NUMBERICON_1:before {
    content: '\e9d4';
}
.ICON-NUMBERICON_2:before {
    content: '\e9d5';
}
.ICON-NUMBERICON_3:before {
    content: '\e9d6';
}
.ICON-NUMBERICON_4:before {
    content: '\e9d7';
}
.ICON-NUMBERICON_5:before {
    content: '\e9d8';
}
.ICON-BENCH:before {
    content: '\e9d9';
}
.ICON-FLAME:before {
    content: '\e9da';
}
.ICON-FENCE:before {
    content: '\e9db';
}
.ICON-LIGHTPOLE:before {
    content: '\e9dc';
}
.ICON-ROOF:before {
    content: '\e9dd';
}
.ICON-FILEDOCUMENT:before {
    content: '\e9b7';
}
.ICON-FILEIMAGE:before {
    content: '\e9b9';
}
.ICON-FILEVIDEO:before {
    content: '\e9ba';
}
.ICON-CLIPBOARDQUESTION:before {
    content: '\e9b5';
}
.ICON-CLIPBOARDCHECK:before {
    content: '\e9b6';
}
.ICON-OFFICE:before {
    content: '\e9b4';
}
.ICON-ADJUSTMENT:before {
    content: '\e9b2';
}
.ICON-FILEDOWNLOAD:before {
    content: '\e9b3';
}
.ICON-CLUBMULTIPLE:before {
    content: '\e9b1';
}
.ICON-CURRENCY_CN:before {
    content: '\e9a6';
}
.ICON-CURRENCY_EU:before {
    content: '\e9a7';
}
.ICON-CURRENCY_IN:before {
    content: '\e9a8';
}
.ICON-CURRENCY_JP:before {
    content: '\e9a9';
}
.ICON-CURRENCY_KR:before {
    content: '\e9aa';
}
.ICON-CURRENCY_KZ:before {
    content: '\e9ab';
}
.ICON-CURRENCY_NL:before {
    content: '\e9ac';
}
.ICON-CURRENCY_RU:before {
    content: '\e9ad';
}
.ICON-CURRENCY_SA:before {
    content: '\e9ae';
}
.ICON-CURRENCY_UK:before {
    content: '\e9af';
}
.ICON-CURRENCY_US:before {
    content: '\e9b0';
}
.ICON-BEACH:before {
    content: '\e9a3';
}
.ICON-SUN:before {
    content: '\e9a4';
}
.ICON-WATER:before {
    content: '\e9a5';
}
.ICON-FILEDELETE:before {
    content: '\e999';
}
.ICON-FILEREMOVE:before {
    content: '\e99a';
}
.ICON-FILEADD:before {
    content: '\e99b';
}
.ICON-FOLDERSEARCH:before {
    content: '\e99c';
}
.ICON-FOLDERDELETE:before {
    content: '\e99d';
}
.ICON-FOLDERREMOVE:before {
    content: '\e99e';
}
.ICON-FOLDERADD:before {
    content: '\e99f';
}
.ICON-FOLDEROPEN:before {
    content: '\e9a0';
}
.ICON-FOLDERGENERIC:before {
    content: '\e9a1';
}
.ICON-FILEGENERIC:before {
    content: '\e9a2';
}
.ICON-DIAMOND:before {
    content: '\e990';
}
.ICON-HANDSNAP:before {
    content: '\e991';
}
.ICON-MESSAGE:before {
    content: '\e992';
}
.ICON-MONEY:before {
    content: '\e993';
}
.ICON-SCISSORS:before {
    content: '\e994';
}
.ICON-SPARKLE:before {
    content: '\e995';
}
.ICON-TRANSPORT:before {
    content: '\e996';
}
.ICON-VENDIAGRAM:before {
    content: '\e997';
}
.ICON-VIDEOCAMERA:before {
    content: '\e998';
}
.ICON-PACKAGE:before {
    content: '\e98d';
}
.ICON-USERADD:before {
    content: '\e98e';
}
.ICON-USERREMOVE:before {
    content: '\e98f';
}
.ICON-CLUBPLACEHOLDER09:before {
    content: '\e985';
}
.ICON-CLUBPLACEHOLDER10:before {
    content: '\e986';
}
.ICON-CLUBPLACEHOLDER11:before {
    content: '\e987';
}
.ICON-CLUBPLACEHOLDER12:before {
    content: '\e988';
}
.ICON-CLUBPLACEHOLDER13:before {
    content: '\e989';
}
.ICON-CLUBPLACEHOLDER14:before {
    content: '\e98a';
}
.ICON-CLUBPLACEHOLDER15:before {
    content: '\e98b';
}
.ICON-CLUBPLACEHOLDER16:before {
    content: '\e98c';
}
.ICON-HANGER:before {
    content: '\e983';
}
.ICON-OFFICIALSHIRT:before {
    content: '\e984';
}
.ICON-SUBSTITUTE:before {
    content: '\e980';
}
.ICON-CLUBUNKNOWN:before {
    content: '\e981';
}
.ICON-COFFEE:before {
    content: '\e982';
}
.ICON-CLUBPLACEHOLDER5:before {
    content: '\e972';
}
.ICON-CLUBPLACEHOLDER6:before {
    content: '\e973';
}
.ICON-CLUBPLACEHOLDER7:before {
    content: '\e974';
}
.ICON-CLUBPLACEHOLDER8:before {
    content: '\e975';
}
.ICON-ARROWDOWN:before {
    content: '\e976';
}
.ICON-ARROWLEFT:before {
    content: '\e977';
}
.ICON-ARROWRIGHT:before {
    content: '\e978';
}
.ICON-ARROWUP:before {
    content: '\e979';
}
.ICON-HELPDESK:before {
    content: '\e97a';
}
.ICON-LOCATION:before {
    content: '\e97b';
}
.ICON-STAREMPTY:before {
    content: '\e97d';
}
.ICON-STARFULL:before {
    content: '\e97e';
}
.ICON-SUPPORT:before {
    content: '\e97f';
}
.ICON-FIELDSOCCER:before {
    content: '\e96a';
}
.ICON-CLUBPLACEHOLDER1:before {
    content: '\e96b';
}
.ICON-CLUBPLACEHOLDER2:before {
    content: '\e96c';
}
.ICON-CLUBPLACEHOLDER4:before {
    content: '\e96d';
}
.ICON-CLUBPLACEHOLDER3:before {
    content: '\e96e';
}
.ICON-GENDERFEMALE:before {
    content: '\e96f';
}
.ICON-GENDERMALE:before {
    content: '\e970';
}
.ICON-GENDERMIXED:before {
    content: '\e971';
}
.ICON-CHECKBOXMINUS1:before {
    content: '\e968';
}
.ICON-CHECKBOXCHECK:before {
    content: '\e969';
}
.ICON-NEWS:before {
    content: '\e964';
}
.ICON-TWITTER:before {
    content: '\e965';
}
.ICON-TUTORIAL:before {
    content: '\e966';
}
.ICON-STARHALF:before {
    content: '\e967';
}
.ICON-CALENDARACCEPT:before {
    content: '\e909';
}
.ICON-CALENDARDECLINE:before {
    content: '\e962';
}
.ICON-MATCHRESUME:before {
    content: '\e963';
}
.ICON-CABLE:before {
    content: '\e94f';
}
.ICON-COMMUNICATIONPHONE:before {
    content: '\e950';
}
.ICON-ADVERTISEMENT:before {
    content: '\e951';
}
.ICON-IDCARD:before {
    content: '\e952';
}
.ICON-CHART:before {
    content: '\e953';
}
.ICON-CONTRIBUTION:before {
    content: '\e954';
}
.ICON-PUZZLEPIECE:before {
    content: '\e955';
}
.ICON-SCOREBOARD:before {
    content: '\e956';
}
.ICON-SMARTPHONE:before {
    content: '\e957';
}
.ICON-AWARD:before {
    content: '\e958';
}
.ICON-PLATFORM:before {
    content: '\e959';
}
.ICON-TIMER:before {
    content: '\e95a';
}
.ICON-TV:before {
    content: '\e95b';
}
.ICON-HEART:before {
    content: '\e95c';
}
.ICON-WEBSITE:before {
    content: '\e95d';
}
.ICON-USERDOUBLE:before {
    content: '\e960';
}
.ICON-CHEVRONFIRST:before {
    content: '\e941';
}
.ICON-CHEVRONLAST:before {
    content: '\e942';
}
.ICON-COMMUNICATIONMAIL:before {
    content: '\e961';
}
.ICON-SPORTATLETIEK:before {
    content: '\e943';
}
.ICON-SPORTBASKETBAL:before {
    content: '\e944';
}
.ICON-SPORTHANDBAL:before {
    content: '\e945';
}
.ICON-SPORTHOCKEY:before {
    content: '\e946';
}
.ICON-SPORTHONKBAL:before {
    content: '\e947';
}
.ICON-SPORTJUDO:before {
    content: '\e948';
}
.ICON-SPORTKORFBAL:before {
    content: '\e949';
}
.ICON-SPORTKRACHT:before {
    content: '\e94a';
}
.ICON-SPORTREDDINGSBRIGADE:before {
    content: '\e94b';
}
.ICON-SPORTVOETBAL:before {
    content: '\e94c';
}
.ICON-SPORTVOLLEYBAL:before {
    content: '\e94d';
}
.ICON-SPORTZWEMMEN:before {
    content: '\e94e';
}
.ICON-CALENDAR:before {
    content: '\e900';
}
.ICON-CARDS:before {
    content: '\e901';
}
.ICON-CHANGE:before {
    content: '\e902';
}
.ICON-CHECK:before {
    content: '\e903';
}
.ICON-CHEVRONDOWN:before {
    content: '\e904';
}
.ICON-CHEVRONLEFT:before {
    content: '\e905';
}
.ICON-CHEVRONRIGHT:before {
    content: '\e906';
}
.ICON-CHEVRONUP:before {
    content: '\e907';
}
.ICON-CLOCK:before {
    content: '\e908';
}
.ICON-QUESTION:before {
    content: '\e90a';
}
.ICON-SHARE:before {
    content: '\e90b';
}
.ICON-USER:before {
    content: '\e90c';
}
.ICON-CROSS:before {
    content: '\e90d';
}
.ICON-DROPDOWN:before {
    content: '\e90e';
}
.ICON-DROPLEFT:before {
    content: '\e90f';
}
.ICON-DROPRIGHT:before {
    content: '\e910';
}
.ICON-DROPUP:before {
    content: '\e911';
}
.ICON-EVENTGENERIC:before {
    content: '\e912';
}
.ICON-EVENTREDCARD:before {
    content: '\e913';
}
.ICON-EVENTYELLOWCARD:before {
    content: '\e914';
}
.ICON-FLAG:before {
    content: '\e915';
}
.ICON-GEAR:before {
    content: '\e916';
}
.ICON-INDICATOR:before {
    content: '\e917';
}
.ICON-LIGHTBULB:before {
    content: '\e918';
}
.ICON-LOCKOFF:before {
    content: '\e919';
}
.ICON-LOCKON:before {
    content: '\e91a';
}
.ICON-LOGOUT:before {
    content: '\e91b';
}
.ICON-MATCHCANCEL:before {
    content: '\e91c';
}
.ICON-MATCHCUP:before {
    content: '\e91f';
}
.ICON-MATCHDELETE:before {
    content: '\e920';
}
.ICON-MATCHOWN:before {
    content: '\e921';
}
.ICON-MENU:before {
    content: '\e922';
}
.ICON-MINUS:before {
    content: '\e923';
}
.ICON-MOVEALL:before {
    content: '\e924';
}
.ICON-MOVELEFTRIGHT:before {
    content: '\e925';
}
.ICON-MOVEUPDOWN:before {
    content: '\e926';
}
.ICON-OPTIONS:before {
    content: '\e927';
}
.ICON-PENCIL:before {
    content: '\e928';
}
.ICON-PLACEHOLDER:before {
    content: '\e929';
}
.ICON-PLANE:before {
    content: '\e92a';
}
.ICON-PLUS:before {
    content: '\e92b';
}
.ICON-POSTBOXIN:before {
    content: '\e92c';
}
.ICON-POSTBOXOUT:before {
    content: '\e92d';
}
.ICON-SEARCH:before {
    content: '\e932';
}
.ICON-SELECT:before {
    content: '\e933';
}
.ICON-SHIELD:before {
    content: '\e934';
}
.ICON-SHIRT:before {
    content: '\e935';
}
.ICON-TRASHCAN:before {
    content: '\e93d';
}
.ICON-VISIBILITYOFF:before {
    content: '\e93e';
}
.ICON-VISIBILITYON:before {
    content: '\e93f';
}
.ICON-WORLD:before {
    content: '\e940';
}
